        <div class="us-box">
            {# find path with no trailing "/" #}
            {% set path = '/' ~ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))|trim('/') %}
            
            <h2>{{ 'also.title'|trans }}</h2>
            {% if path != '/register' %}
            {{ 'also.no_account'|trans }}
            
            <br/><br/>
            <button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="document.location = '/register';">{{ 'also.links.register'|trans }}</button>
            <br/><br/>
            {% endif %}
            {{ 'also.already_account'|trans }}
            
            <br/><br/>
            {% if path != '/login' %}<button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="document.location = '/login';">{{ 'also.links.log_in'|trans }}</button>{% endif %}
            {% if path != '/forgot' %}<button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="document.location = '/forgot';">{{ 'also.links.forgot_password'|trans }}</button>{% endif %}
            {% if path != '/confirm' %}<button type="button" class="btn btn-primary" style="margin-bottom: 10px;" onclick="document.location = '/confirm';">{{ 'also.links.resend_confirmation'|trans }}</button>{% endif %}
        </div>